.white-text{
    color: white !important;
}
a.icon-8-depan > p > img:hover{
    background-color: rgba(10, 10, 10, 0.5);
    border-radius: 3px;
    /*filter: blur(5px);*/
}

a.icon-8-depan{
    background-color: none;
    transition: 1s all;
}

.section-white{
    border-top:1px solid #eaeaea;
    padding:90px 0
}
.width-100{
    width:100%
}
.section-white{
    background-color:#fff
}
.section-8-icon{
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-footer{
    height:150px !important;
}
.footer-client{
    color:white;
    height:70px !important;
    background:grey;
    line-height: 70px !important;
}
.section-head{
    background-color:#5D382C;
    height:100px;
}
